.trackContainer {
    display: flex;
    flex-direction: column;
    background: #000;
    color: yellow;


}

.trackControls {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

canvas {

    width: 95%;
    height: 100px;
}

